html,
body {
  background-color: $background-color;
  font-family: 'Kosugi Maru', sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $header-text-color;
  line-height: 1.25;
  a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
  }
}

#globalheader-container {
  background-color: $blog-title-background-color;
  color: $blog-title-color;
}
#blog-title {
  background-color: $blog-title-background-color;
  margin-bottom: 30px;
  padding-top: 24px;
  padding-bottom: 24px;
  box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2),0px 3px 4px 0px rgba(0,0,0,0.14),0px 1px 8px 0px rgba(0,0,0,0.12);
}
#blog-title-inner,
#content {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
#title {
  color: $blog-title-color;
  margin: 0;
}
#blog-description {
  color: $blog-description-color;
  margin: 0;
  font-size: 1.8rem;
}

#content-inner {
  display: flex;
  justify-content: space-between;
}

#wrapper {
  margin-right: 30px;
}

/* 右側のプロフィールとか書いてある場所 */
#box2 {
  margin-bottom: 24px;
}
#box2-inner {
  border-radius: 8px;
  background-color: $background-paper-color;
  box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2),0px 3px 4px 0px rgba(0,0,0,0.14),0px 1px 8px 0px rgba(0,0,0,0.12);
  padding: 18px;
}

#blog-title {
  font-size: 1.8rem;
}

.entry {
  margin-bottom: 24px;
}

.entry-inner {
  padding: 30px;
  border-radius: 8px;
  background-color: $background-paper-color;
  box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2),0px 3px 4px 0px rgba(0,0,0,0.14),0px 1px 8px 0px rgba(0,0,0,0.12);
}

.date {
  margin-bottom: .5em;
  font-size: .9rem;
  a {
    color: $text-color;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
  }
}

.entry-category-link {
  color: $text-color;
  text-decoration: none;
  border-radius: 3px;
  background-color: #bcbcf0;
  padding: 6px;
  box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2),0px 3px 4px 0px rgba(0,0,0,0.14),0px 1px 8px 0px rgba(0,0,0,0.12);
}

.entry-content {
  .code {
    line-height: 1.75;
    font-family: 'Monaco', 'Consolas', 'Courier New', Courier, monospace, sans-serif;
    font-size: 90%;
    padding: 20px 20px;
    background: #f0f0f0;
    border-radius: 8px;
    box-shadow: inset 4px 4px 8px #d1d1d1, inset -4px -4px 8px #ffffff;
  }

  ul {
    list-style-type: none;
    line-height: 2;
    li:before {
      font-family: "Font Awesome 5 Free";
      content: "\f0a4";
      margin:0 5px 0 -15px;
      color: #21b384;
    }
  }
}

/*
 * 一応レスポンシブ
 */
@media (min-width: 768px) {
  #blog-title-inner, #content {
    width: 750px;
  }
}
@media (min-width: 992px) {
  #blog-title-inner, #content {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  #blog-title-inner, #content {
    width: 1170px;
  }
}
