
$background-color: #fafafa;
$background-paper-color: #ffffff;

$header-text-color: #595959;

$mq-xs: "(max-width: 480px)";
$mq-sm: "(min-width: 768px)";
$mq-md: "(min-width: 992px)";
$mq-lg: "(min-width: 1200px)";
